.navigation-container {
    grid-area: Navigation;
    background-color: var(--darker-black);
    /* height: 100%; */
    min-width: 150px;
    overflow-y: hidden;
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 100px;
}

.nav-list {
    list-style: none;
}
