.search-results-artists--container {
    grid-template-rows: 30px auto;
    gap: 10px;
}

/* HEADER */
.search-results-artists-header {
    font-size: 24px;
}

/* ARTIST LIST */
.search-results-artists--list {
    grid-template-columns: repeat(auto-fit, 180px);
    gap: 22px;
    overflow-y: hidden;
    margin-top: 10px;
}

/* SINGLE ARTIST */
.search-results-artists--single-artist {
    grid-template-rows: 180px 25px 30px;
    padding: 16px;
    background-color: var(--const-card-bg);
    border-radius: 8px;
    transition: 0.3s;
}

.search-results-artists--single-artist:hover {
    background-color: var(--const-card-hover);
    cursor: pointer;
}

.search-results-artists--single-artist:hover .search-results-artists--play {
    opacity: 1;
}

/* IMG */
.search-results-artists--img-outer-container {
    object-fit: cover;
    width: fit-content;
    height: 150px;
    justify-self: center;
    align-self: start;
}

.search-results-artists--img-container {
    position: relative;
    place-self: center;
}

.search-results--artists-img {
    border-radius: 9999px;
    height: 150px;
    min-width: 150px;
}

/* PLAY BTN */
.search-results-artists--play {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    opacity: 0;
}

/* TEXT */
.search-results--artists-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--const-main-white);
    overflow: hidden;
}

.search-results--artists-type {
    font-size: 15px;
    color: var(--const-gray);
}