.search-results-tracks--container {
    grid-template-rows: 30px auto;
    gap: 20px;
}

.search-results-tracks--header {
    font-size: 24px;
}

.search-results-tracks--list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.search-results-tracks--item {
    grid-template-columns: 40px 1fr 50px;
    gap: 10px;
    align-items: center;
}

.search-results-tracks--item > img {
    border-radius: 4px;
}

.search-results-tracks--item-text-container {
    grid-template-rows: repeat(2, auto);
    align-items: center;
}

.search-results-tracks--item-name {
    font-size: 16px;
    font-weight: bold;
}

.search-results-tracks--item-artist {
    font-size: 14px;
    color: var(--const-lighter-gray);
}