.search-results--container {
    grid-area: Main;
    grid-template-rows: 60px 1fr;
    gap: 20px;
    background-color: var(--const-base-bg);
    padding: 20px 10px 150px;
    height: 100%;
}

.search-results--header-container {
    grid-template-columns: 150px 1fr;
    padding-right: 150px;
}

.search-results--header {
    place-self: center;
    font-size: 40px;
    color: var(--const-green);
    opacity: 0;
    animation: 1s ease 0.4s forwards fade-in;
}

.search-results--content {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px 20px;
}

.search-results--category-container {
    grid-template-rows: 30px 20px 1fr;
}

.search-results--category-subheader {
    text-align: center;
    font-size: 26px;
    color: var(--const-green);
    opacity: 0;
    animation: 1s ease 0.5s forwards fade-in;
}

.search-results--category-num-results {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: var(--const-blue);
    opacity: 0;
    animation: 1s ease 0.5s forwards fade-in;
}

.search-results--category-list {
    grid-template-rows: repeat(10, auto);
    gap: 30px;
    font-size: 16px;
    padding: 10px;
    opacity: 0;
    animation: 1s ease 0.6s forwards fade-in;
}

.search-results--category-item {
    /* grid-template-rows: repeat(2, auto) 150px 30px; */
    grid-template-rows: 25px 35px 160px 30px;
    /* gap: 5px; */
    padding: 10px;
    justify-items: center;
    align-content: center;
    text-align: center;
    min-height: 280px;
    background-color: var(--const-card-gray);
    border: solid 1px var(--const-card-gray-hover);
    border-radius: 10px;
}

.search-results--category-item:hover {
    background-color: var(--const-card-gray-hover);
    cursor: pointer;
}

.search-results--category-item img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.search-results--category-text-bold {
    color: var(--const-card-yellow);
    font-weight: bold;
    font-size: 18px;
}

.search-results--category-text {
    color: var(--const-dull-white);
    font-size: 17px;
}

.search-results--category-text-other {
    color: var(--const-green);
    font-weight: 500;
}

.search-results--category-item:hover .search-results--category-text-bold {
    color: var(--const-card-yellow-hover);
}

.search-results--category-item:hover .search-results--category-text{
    color: var(--const-white);
}

.search-results--category-item:hover .search-results--category-text-other {
    color: var(--const-green-hover);
}