.search-results-tracks--container {
    grid-template-rows: 30px auto;
    gap: 20px;
}

.search-results-tracks--header {
    font-size: 24px;
}

.search-results-tracks--list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.search-results-tracks--item {
    grid-template-columns: 40px 1fr 50px;
    gap: 10px;
}