.playlist-page--tracks {
    grid-template-rows: 35px 1fr auto;
    gap: 20px;
    padding: 0 25px;
    margin-bottom: 50px;
}

/* TRACKS HEADERS */
.playlist-page--tracks-headers {
    grid-template-columns: 20px 320px 113px 160px auto;
    gap: 20px;
    align-items: center;
    padding: 0 12px;
    color: var(--const-gray);
    font-size: 14px;
    border-bottom: solid 1px var(--const-gray-faint);
}

.tracks-header--number {
    justify-self: end;
    font-size: 17px;
    position: relative;
}

.tracks-header--title {
    justify-self: start;
    padding-left: 7px;
}

.tracks-header--date-added{
    justify-self: center;
}

.tracks-header--time {
    height: 18px;
    width: 18px;
    justify-self: center;
}

/* TRACKS */
.playlist-page--tracks-tracks {
    grid-auto-flow: row;
    line-height: 1.3;
}

.playlist-page--single-track {
    grid-template-columns: 20px 40px 250px 160px 100px 2fr 1fr 1fr;
    gap: 20px;
    height: 56px;
    border: solid 1px transparent;
    align-items: center;
    padding: 0 20px;
    border-radius: 4px;
}

/* TRACK HOVER AND FOCUS EFFECTS */
.playlist-page--single-track:hover {
    background-color: var(--album-track-hover);
}

.playlist-page--single-track:hover .playlist-page--track-number, .playlist-page--single-track:focus .playlist-page--track-number {
    opacity: 0;
}

.playlist-page--single-track:hover div, .playlist-page--single-track:focus div {
    color: var(--const-main-white);
}

.playlist-page--single-track:focus {
    background-color: var(--album-track-focus);
    outline: 0;
}

.playlist-page--single-track:hover img, .playlist-page--single-track:focus img {
    opacity: 1;
}

/* TRACK NUMBER */
.playlist-page--track-num-container {
    position: relative;
}

.playlist-page--track-number {
    justify-self: center;
    font-size: 18px;
    color: var(--const-gray);
}

.playlist-page--hover-play-btn {
    height: 15px;
    width: 15px;
    margin-left: 4px;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
}

/* TRACK IMAGE */
.playlist-page--track-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

/* TRACK NAME */
.playlist-page--track-name-container {
    grid-template-rows: repeat(2, auto);
    gap: 3px;
    align-items: center;
}

.playlist-page--track-name {
    font-size: 16px;
    line-height: 1.4;
    width: fit-content;
}

.playlist-page--track-name:hover {
    text-decoration: underline;
    text-underline-offset: 1.7px;
    cursor: pointer;
}

/* TRACK ARTISTS */
.playlist-page--playlist-sub-container {
    grid-template-columns: auto 1fr;
    justify-items: start;
}

.playlist-page--explicit-container {
    align-items: start;
}

.playlist-page--explicit-track {
    font-size: 9px;
    height: fit-content;
    color: var(--darker-black);
    border-radius: 2px;
    background-color: var(--explicit-bg);
    padding: 2px 5px;
    margin-right: 7px;
}

.playlist-page--playlist-name-container {
    grid-template-columns: repeat(auto-fill, auto);
    grid-auto-flow: column;
    gap: 4px;
}

/* ALBUM NAME */
.playlist-page--album-name {
    color: var(--const-gray);
    width: fit-content;
}

.playlist-page--album-name:hover {
    color: var(--const-main-white);
    text-decoration: underline;
    text-underline-offset: 1.7px;
    cursor: pointer;
}

/* DATE ADDED */
.playlist-page--date-added {
    font-size: 14px;
    color: var(--const-gray);
    width: fit-content;
}

/* TRACK LIKE */
.playlist-page--hide-like {
    opacity: 0;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    justify-self: center;
}

.playlist-page--hide-like:hover {
    filter: var(--filter-hover-white);
    transform: scale(1.05);
}

/* TRACK TIME */
.playlist-page--track-time {
    color: var(--const-gray);
    font-size: 14px;
}

/* TRACK MENU DOTS */
.playlist-page--track-dots {
    opacity: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    justify-self: end;
}

.playlist-page--track-dots:hover {
    filter: var(--filter-hover-white);
    transform: scale(1.05);
}
