/* RECENTLY PLAYED */
.recently-played--container {
    grid-template-rows: 40px auto;
    gap: 5px;
}

.recently-played--header-container {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.recently-played--header {
    color: var(--const-green);
    font-size: 24px;
}

.recently-played--refresh-btn {
    font-size: 13px;
    color: var(--const-card-yellow);
    border: solid 1px var(--const-card-yellow);
    border-radius: 9999px;
    padding: 2px 10px;
    margin-top: 3px;
    background-color: var(--almost-black);
}

.recently-played--refresh-btn:hover {
    color: var(--const-card-yellow-hover);
    border-color: var(--const-card-yellow-hover);
    cursor: pointer;
}

.recently-played--list {
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: start;
    gap: 5px;
    overflow: hidden;
    padding: 10px 0;
}

.recently-played--list:hover {
    overflow-x: scroll;
}

.recently-played--item {
    justify-items: center;
}

.recently-played--time-since-played {
    /* font-family: 'Calligraffitti'; */
    font-size: 11px;
    color: var(--const-dull-white);
    padding: 5px 0;
}

.recently-played--item > img {
    margin: 5px 0;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.recently-played--item-text {
    padding-top: 5px;
}

.recently-played--item-text {
    text-align: center;
    font-size: 14px;
}

.recently-played--item-name {
    font-weight: 500;
}

.recently-played--item-artist {
    text-decoration: underline;
}

