.main {
    grid-area: Main;
    grid-auto-rows: 300px;
    background-color: var(--almost-black);
    padding: 50px;
}

.main > * {
    margin: 20px 0;
}

/* PREVIEW GENERIC STYLING */
.preview--container {
    grid-template-rows: 30px auto;
    grid-auto-flow: row;
    gap: 10px;
}

.preview--header {
    color: var(--const-green);
    font-size: 24px;
}

.preview--list {
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: start;
    gap: 5px;
    overflow: hidden;
}

.preview--list:hover {
    overflow-x: scroll;
}

.preview--item {
    justify-items: center;
}

.preview--item-rank {
    /* color: var(--const-green); */
    font-weight: bold;
}

.preview--item > img {
    margin: 5px 0;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.preview--item-text {
    text-align: center;
    font-size: 14px;
}

.preview--item-name {
    font-weight: bold;
}

.preview--item-artist {
    text-decoration: underline;
}

/* TOP ARTISTS PREVIEW SPECIFIC */
.preview-top-artists {
    padding-top: 10px;
}