/* PREVIEW GENERIC STYLING */
.preview--container {
    height: fit-content;
}

.preview--list {
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: start;
    gap: 5px;
    overflow: hidden;
    padding: 10px 0;
    min-height: 210px;
}

.preview--list:hover {
    overflow-x: scroll;
}

.preview--item {
    justify-items: center;
}

.preview--item-rank {
    font-weight: bold;
}

.preview--item > img {
    margin: 5px 0;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.preview--item-text {
    text-align: center;
    font-size: 14px;
}

.preview--item-name {
    font-weight: bold;
}

.preview--item-artist {
    text-decoration: underline;
}

/* TOP ARTISTS PREVIEW SPECIFIC */
.preview-top-artists {
    padding-top: 10px;
}