.main {
    grid-area: Main;
    grid-auto-rows: minmax(300px, auto);
    background-color: var(--almost-black);
    padding: 50px;
}

.main > * {
    margin: 20px 0;
}

/* PREVIEW GENERIC STYLING */
.preview--container, .recently-played--container {
    grid-template-rows: 30px auto;
    grid-auto-flow: row;
    gap: 10px;
}

.preview--header, .recently-played--header {
    color: var(--const-green);
    font-size: 24px;
}

.preview--list, .recently-played--list {
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: start;
    gap: 5px;
    overflow: hidden;
}

.preview--list:hover, .recently-played--list:hover {
    overflow-x: scroll;
}

.preview--item, .recently-played--item {
    justify-items: center;
}

.preview--item-rank {
    /* color: var(--const-green); */
    font-weight: bold;
}

.preview--item > img, .recently-played--item > img {
    margin: 5px 0;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.preview--item-text, .recently-played--text {
    text-align: center;
    font-size: 14px;
}

.preview--item-name {
    font-weight: bold;
}

.preview--item-artist {
    text-decoration: underline;
}

/* TOP ARTISTS PREVIEW SPECIFIC */
.preview-top-artists {
    padding-top: 10px;
}

/* RECENTLY PLAYED */
.recently-played--header-container {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: start;
}

.recently-played--refresh-btn {
    justify-self: start;
    /* background-color: var(--almost-black); */
    color: white;
    border: solid 1px var(--const-green);
    border-radius: 50px;
    padding: 2px 10px;
    background-color: var(--almost-black);
    font-size: 14px;
}

.recently-played--refresh-btn:hover {
    background-color: var(--const-green);
    color: black;
    cursor: pointer;
}

.recently-played--time-since-played {
    /* color: red; */
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
}