/* PREVIEW GENERIC STYLING */
.preview--container {
    /* height: fit-content; */
}

.preview--list {
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-flow: column;
    align-items: start;
    gap: 20px;
    overflow: hidden;
    padding: 10px 0;
}

.preview--list:hover {
    overflow-x: scroll;
}

.preview--item {
    justify-items: center;
    min-width: 200px;
    min-height: 290px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--const-card-bg);
    transition: 0.3s;
}

.preview--item:hover {
    background-color: var(--const-card-hover);
    cursor: pointer;
}

.preview--item-rank {
    font-weight: bold;
}

.preview--item > img {
    margin: 5px 0;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.preview--item-text {
    text-align: center;
    font-size: 14px;
}

.preview--item-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--const-main-white);
    overflow: hidden;
}

.preview--item-artist {
    font-size: 14px;
    color:  var(--const-lighter-gray);
}

.preview--item-artist:hover {
    color: var(--const-main-white);
    text-decoration: underline 1px;
}

/* TOP ARTISTS PREVIEW SPECIFIC */
.preview-top-artists {
    padding-top: 10px;
}