/* RECENTLY PLAYED */
.recently-played--container {
    grid-template-rows: 40px 1fr;
    gap: 5px;
}

.recently-played--header-container {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.recently-played--header {
    color: var(--const-green);
    font-size: 24px;
}

.recently-played--refresh-btn {
    font-size: 13px;
    color: var(--const-card-yellow);
    border: solid 1px var(--const-card-yellow);
    border-radius: 9999px;
    padding: 2px 10px;
    margin-top: 3px;
    background-color: var(--almost-black);
}

.recently-played--refresh-btn:hover {
    color: var(--const-card-yellow-hover);
    border-color: var(--const-card-yellow-hover);
    cursor: pointer;
}

.recently-played--list {
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-flow: column;
    align-items: start;
    gap: 20px;
    overflow: hidden;
    padding: 10px 0;
}

.recently-played--list:hover {
    overflow-x: scroll;
}

.recently-played--item {
    justify-items: center;
    min-width: 200px;
    min-height: 290px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--const-card-bg);
    transition: 0.3s;
}

.recently-played--item:hover {
    background-color: var(--const-card-hover);
    cursor: pointer;
}

.recently-played--time-since-played {
    font-size: 11px;
    color: var(--const-dull-white);
    padding: 5px 0;
}

.recently-played--item > img {
    margin: 5px 0;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.recently-played--item-text {
    padding-top: 5px;
}

.recently-played--item-text {
    text-align: center;
    justify-items: center;
}

.recently-played--item-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--const-main-white);
    overflow: hidden;
}

.recently-played--item-artist {
    font-size: 14px;
    color:  var(--const-lighter-gray);
    width: fit-content;
}

.recently-played--item-artist:hover {
    color: var(--const-main-white);
    text-decoration: underline 1px;
}
