.album-page--container {
    grid-area: Main;
    background-color: var(--const-base-bg);
    grid-template-rows: 340px 1fr;
    opacity: 0;
    animation: 0.3s ease 0.8s forwards fade-in;
    border-radius: 10px;
    overflow-y: scroll;
}

.album-page--sub-container {
    grid-template-rows: 120px 1fr auto;
}
