.album-page--menu-backing {
    position: absolute;
    top: 13px;
    left: 163px;
    width: calc(100% - 522px);
    z-index: 1;
    transition: 0.3s 0s ease;
}

.album-page--menu-container {
    grid-template-columns: repeat(2, auto);
    padding: 0 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1;
    height: 65px;
    transition: 0.3s 0s ease-in-out;
}

.album-page--menu-nav-container {
    grid-template-columns: repeat(2, auto);
    gap: 16px;
    justify-content: start;
    align-content: center;
    color: #12121219;
}

.album-page--icons-container {
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    justify-content: end;
    align-content: center;
}

.album-page--menu-container img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.album-page--menu-container img:hover {
    transform: scale(1.15);
}