.album-page--more-by-artist {
    grid-template-rows: 40px 270px;
    padding: 0 25px;
    gap: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* HEADER CONTAINER */
.more-by-artist--header-container {
    grid-template-columns: 1fr auto;
    align-content: center;
}

/* HEADER */
.more-by-artist--header {
    font-size: 24px;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
}

.more-by-artist--header:hover {
    text-decoration: underline 2px;
    cursor: pointer;
    text-underline-offset: 2px;
}

/* DISCOGRAPHY */
.more-by-artist--discography {
    color: var(--const-lighter-gray);
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
    justify-self: start;
    padding-right: 15px;
}

.more-by-artist--discography:hover {
    text-decoration: underline 2px;
    cursor: pointer;
}

/* ALBUM LIST */
.more-by-artist--album-list  {
    grid-template-columns: repeat(auto-fit, 180px);
    gap: 24px;
    justify-content: center;
    overflow-y: hidden;
}

/* SINGLE ITEM CONTAINER */
.more-by-artist--item-container {
    grid-template-rows: 180px 25px 1fr;
    padding: 16px;
    background-color: var(--const-card-bg);
    border-radius: 8px;
    transition: 0.3s;
}

.more-by-artist--item-container:hover {
    background-color: var(--const-card-hover);
    cursor: pointer;
}

.more-by-artist--item-container:hover .more-by-artist--play {
    opacity: 1;
}

/* ALBUM IMAGE */
.more-by-artist--album-img-container {
    position: relative;
    place-self: center;
}

.more-by-artist--album-img {
    object-fit: cover;
    width: fit-content;
    height: 150px;
    justify-self: center;
    align-self: start;
}

.more-by-artist--album-img img {
    border-radius: 8px;
}

.more-by-artist--play {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    opacity: 0;
}

/* ALBUM NAME */
.more-by-artist--album-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--const-main-white);
    overflow: hidden;
}

/* RELEASE DATE */
.more-by-artist--album-date {
    font-size: 14px;
    color:  var(--const-gray);
}