.album-page--container {
    grid-area: Main;
    /* background-color: red; */
    grid-template-rows: 300px 100px 1fr 300px;
    /* overflow-y: scroll; */
    padding: 20px 10px 150px;
}

/* BANNER */
.album-page--banner {
    grid-template-columns: 300px 1fr;
    margin-top: 50px;
    align-items: center;
}

.album-page--banner-img-container {
    width: 200px;
    height: 200px;
}

.album-page--img {
    width: 100%;
    height: 100%;
}

.album-page--banner-info-container {
    grid-template-rows: repeat(3, auto);
    line-height: 1;
}

.album-page--album-type {
    font-size: 14px;
    text-transform: capitalize;
}

.album-page--album-name {
    font-size: 30px;
}

.album-page--album-overview-container {
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 14px;
}

.album-overview-artist-img-container {
    width: 30px;
    height: 30px;
}

.album-overview-artist-img-container > img {
    border-radius: 100%;
}

.album-overview-artist-name {
    font-weight: bold;
}