.main-page--menu {
    grid-template-columns: repeat(2, auto);
    padding: 0 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* MAIN PAGE NAV */
.main-page--nav-container {
    grid-template-columns: repeat(2, auto);
    gap: 16px;
    justify-content: start;
    align-content: center;
}

/* MAIN PAGE ICONS */
.main-page--icons-container {
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    justify-content: end;
    align-content: center;
}

.main-page--menu img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.main-page--menu img:hover {
    transform: scale(1.15);
}