.dashboard--banner  {
    grid-template-rows: 45px 190px;
    align-content: end;
    gap: 15px;
    padding: 0 5px;
}

.dashboard--banner-greeting{
    font-size: 32px;
    font-weight: bold;
    padding: 0 15px;
}

.dashboard--banner-player-container {
    grid-template-columns: 355px 1fr;
    gap: 20px;
}