.sidebar--queue-container {
    grid-template-rows: 24px auto;
    gap: 10px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--const-sidebar-gray);
}

/* HEADERS */
.sidebar--queue-headers {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.sidebar--queue-open-queue {
    color: var(--const-lighter-gray);
    font-size: 14px;
    justify-self: end;
}

/* TRACK DETAILS */
.sidebar--queue-track-details-container {
    grid-template-columns: 16px 50px auto;
    gap: 12px;
    align-items: center;
    padding: 8px 0;
}

.sidebar--queue-note-icon {
    width: 16px;
    height: 16px;
}

.sidebar--queue-img {
    border-radius: 4px;
    width: 50px;
    height: 50px;
    place-self: center;
}

.sidebar--queue-artists {
    font-size: 14px;
}