.header {
    grid-area: Header;
    grid-template-columns: 1fr repeat(2, 100px);
    align-items: center;
    padding: 0 20px;
    background-color: var(--header-black);
}

.logo-container {
    font-variant-caps: small-caps;
}