.logo--container {
    align-content: center;
    justify-items: start;
    margin-bottom: 10px;
}

.logo--link-container {
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.logo--link-container:hover {
    color: var(--const-green);
}

.logo--img {
    width: 30px;
    height: 30px;
    align-self: end;
}

.logo--text {
    font-size: 36px;
    font-variant-caps: all-small-caps;
}
