.track-tally--outer-container {
    grid-area: Main;
    overflow: hidden;
    background: linear-gradient(var(--const-green), var(--const-base-bg) 30%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 5px;
    padding-right: 3px;
    padding-top: 65px;
    opacity: 0;
    animation: 0.3s ease 0.5s forwards fade-in;
}

.track-tally--scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    transition: 1s all 0.1s ease-out;
}

.track-tally--scrollbar:hover {
    visibility: visible;
}

.track-tally--container {
    padding: 8px 0 40px 20px;
    gap: 30px;
    visibility: visible;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.track-tally--sub-container {
    grid-template-rows: 50px 1fr;
    gap: 20px;
    padding: 0 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.track-tally--all-tracks {
    grid-template-rows: repeat(auto-fill, 30px);
}

.track-tally--track-headers {
    grid-template-columns: 500px auto;
    border-bottom: solid 2px white;
    font-size: 20px;
}

.track-tally--track {
    grid-template-columns: 500px auto;
    padding: 5px;
    /* border-bottom: solid 1px white; */
}