.song-player-container {
    grid-template-rows: 50px 20px;
    gap: 5px;
}

/* PLAYER CONTROL BUTTONS */
.song-controls {
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.play-btn {
    width: 40px;
}

.back-btn, .forward-btn {
    width: 18px;
}

.forward-btn:hover, .back-btn:hover {
    filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(606%) hue-rotate(253deg) brightness(112%) contrast(81%);
}

/* PLAYER SLIDER */
.song-progress-bar-container {
    grid-template-columns: 30px auto 30px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.song-progress-bar {
    width: 500px;
    height: 4px;
    background: var(--const-player-slider);
    border-radius: 4px;
}
  
.song-expired {
    margin: 0;
    width: 100px;
    height: 5px;
    background: var(--const-main-white);
    border-radius: 4px;
}

.song-expired:hover {
    background: var(--const-dark-green);
}
  
.song-start, .song-end {
    font-size: 12px;
}
