.song-player-container {
    grid-template-rows: 50px 20px;
    gap: 5px;
}

/* PLAYER CONTROL BUTTONS */
.song-controls {
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.play-btn {
    width: 40px;
}

.back-btn, .forward-btn {
    width: 18px;
}

.forward-btn:hover, .back-btn:hover {
    filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(606%) hue-rotate(253deg) brightness(112%) contrast(81%);
}

/* PLAYER SLIDER */
.song-progress-bar-container {
    grid-template-columns: 30px 500px 30px;
    gap: 10px;
    justify-content: center;
    align-content: start;
}

.slide-container {
  width: 100%;
  position: relative;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    opacity: 1;
    width: 500px;
    height: 6px;
    padding: 0;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    cursor: default;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--const-main-white);
    border: none;
    cursor: default;
    box-shadow: -407px 0 0 405px var(--const-main-white);
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: -407px 0 0 405px var(--const-green);
}

.slider:hover::-webkit-slider-thumb {
    box-shadow: -407px 0 0 405px var(--const-green);
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: #444;
}

/* PLAYBACK TEXT */
.song-start, .song-end {
  font-size: 12px;
}