:root {
    --almost-black: #070D0D;
    --header-black: #011212;
    --nav-black: #000101;
    --const-green: #1DB954;
    --const-green-hover: #0aef5a;
    --const-blue: #452ADB;
    --const-white: #ffffff;
}