
::-webkit-scrollbar {
    -webkit-appearance: auto;
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--almost-black);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
    min-height: 30px
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #7f7f7f;
  }
