
::-webkit-scrollbar {
    -webkit-appearance: auto;
    width: 10px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--almost-black);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--const-green);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--const-green-hover);
  }
  
  ::-webkit-scrollbar-track:horizontal:active {
    background-color: var(--const-blue);
    border-radius: 10px;
  }