.main-playback--cur-playing-header-container {
    grid-template-columns: 170px auto 150px;
    gap: 5px;
    font-variant-caps: all-small-caps;
    position: relative;
}

.main-playback--cur-playing-header {
    align-self: end;
    font-size: 22px;
    color: var(--const-peach);
    line-height: 0.9;
    letter-spacing: 0.03rem;
    padding-top: 20px;
}

/* MUSIC BARS - TRACK PLAYING */
.bars {
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    gap: 0.1rem;
    padding-bottom: 3px;
    padding-top: 20px;
}

.bars__item {
    background-image: linear-gradient(to top, var(--const-green), var(--const-green-hover));
    width: 0.15rem;
    transform-origin: bottom;
}

.bars__item:nth-child(1) {
    transform: scaleY(0.1);
    animation: play-left 2s ease-out infinite;
    animation-delay: 0s;
}
.bars__item:nth-child(2) {
    transform: scaleY(0.3);
    animation: play 2s ease-out infinite;
    animation-delay: 0.2s;
}
.bars__item:nth-child(3) {
    transform: scaleY(0.5);
    animation: play 2s ease-out infinite;
    animation-delay: 0.6s;
}
.bars__item:nth-child(4) {
    transform: scaleY(0.7);
    animation: play-right 2s ease-out infinite;
    animation-delay: 0.75s;
}


/* MUSIC BARS - TRACK PAUSED */
.empty-bars {
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    gap: 0.1rem;
    padding-bottom: 3px;
    padding-top: 20px;
}

.empty-bars__item {
    background-image: linear-gradient(to top, var(--const-green), var(--const-green-hover));
    width: 0.15rem;
    transform-origin: bottom;
}

.empty-bars__item:nth-child(1) {
    transform: scaleY(0.1);
}
.empty-bars__item:nth-child(2) {
    transform: scaleY(0.3);
}
.empty-bars__item:nth-child(3) {
    transform: scaleY(0.5);
}
.empty-bars__item:nth-child(4) {
    transform: scaleY(0.7);
}

.main-playback--cur-playing-header-container button {
    position: absolute;
    top: 15px;
    left: 260px;
    width: 80px;
    height: 35px;
    font-size: 16px;
    line-height: 1;
    border: none;
    justify-self: center;
    align-self: end;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    /* background-image: linear-gradient(144deg,var(--const-blue), var(--const-green) 50%,var(--const-blue)); */
    border-radius: 8px;
    /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
    color: var(--const-white);
    justify-content: center;
    cursor: pointer;
}

.main-playback--cur-playing-header-container button span {
    background-color: rgb(5, 6, 45);
    padding: 6px 0;
    border-radius: 6px;
    width: 76px;
    height: 31px;
    transition: 300ms;
    place-self: center;
}

.main-playback--cur-playing-header-container button:hover span {
    background: none;
}
