.main-playback--cur-playing-item {
    grid-template-columns: 140px 150px;
    gap: 30px;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.main-playback--cur-playing-item img {
    border-radius: 100%;
    transition: all 1s;
    object-fit: cover;
}

.main-playback--cur-playing-item img:hover  {
    /* transform: rotateX(360deg) scale(1.2); */
    border-radius: 0%;
    cursor: pointer;
    /* animation: img-pulse 1.65s infinite ease-in-out; */
}

.main-playback--pulse-img {
    animation: img-pulse 1.65s infinite ease-in-out;
}

.main-playback--cur-playing-details {
    line-height: 1;
}

.main-playback--cur-playing-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.main-playback--cur-playing-artist {
    color: var(--const-honey-dew);
    font-size: 18px;
}

@keyframes img-pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
