.main-playback--no-track-playing {
    width: 360px;
    align-items: center;
    padding: 20px;
    font-size: 26px;
    font-variant-caps: all-small-caps;
    text-align: center;
    color: var(--const-red);
}

.main-playback--cur-playing-item {
    grid-template-columns: 140px 150px;
    gap: 30px;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.main-playback--cur-playing-item img {
    transition: all 1s;
    object-fit: cover;
}

.main-playback--pulse-img {
    animation: img-pulse 1.65s infinite ease-in-out;
}

.main-playback--cur-playing-details {
    line-height: 1;
}

.main-playback--cur-playing-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.main-playback--cur-playing-artist {
    color: var(--const-honey-dew);
    font-size: 18px;
}
