.main-playback--queue-container {
    grid-template-rows: 40px 1fr;
    gap: 10px;
    padding: 20px 10px;
}

.main-playback--queue-header {
    font-variant-caps: all-small-caps;
    font-size: 22px;
    letter-spacing: 0.03rem;
    color: var(--const-peach);
    line-height: 0.9;
}

.main-playback--queue-list {
    grid-auto-columns: 160px;
    grid-auto-flow: column;
    gap: 20px;
    align-items: start;
    overflow: hidden;
    padding: 10px 0;
}

.main-playback--queue-list:hover {
    overflow-x: scroll;
}

.main-playback--queue-item {
    grid-template-rows: repeat(3, auto);
    grid-template-rows: 100px auto 20px;
    border: solid 1px var(--const-card-gray-hover);
    border-radius: 10px;
    background-color: var(--const-card-gray);
    justify-items: center;
    align-content: center;
    text-align: center;
    min-height: 150px;
    padding: 5px;
    color: var(--const-card-yellow);
}

.main-playback--queue-item:hover {
    background-color: var(--const-card-gray-hover);
    cursor: pointer;
    color: var(--const-card-yellow-hover);
}

.main-playback--queue-item img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin: 10px 0;
}

.main-playback--queue-track {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.main-playback--queue-artist {
    font-size: 14px;
}
