.searchbar {
    grid-template-columns: 100px 1fr;
    height: 50px;
    align-items: center;
    position: absolute;
    margin-left: 10px;
  }
  
  .searchbar--container {
    position: absolute;
    left: 110px;
    top: 2px;
  }

  .searchbar--form input {
    position: absolute;
    height: 40px;
    width: 0px;
    top: 5px;
    left: 0;
    padding: 0 20px 0 50px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    color: black;
    transition: all 0.3s;
    opacity: 0;
    outline: none;
    background: var(--const-green);
    z-index: 3;
    cursor: pointer;
    &:focus ~ .search {
      background-color: #151515;
      z-index: 4;
      &::before {
        top: 0;
        left: 0;
        width: 15px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 15px;
        height: 2px;
        border: none;
        background: var(--const-main-white);
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: black;
      opacity: 0.7;
    }
  }

  .searchbar--form input:focus {
    width: 300px;
    z-index: 1;
    cursor: text;
    opacity: 1;
  }

  .search {
    height: 40px;
    width: 40px;
    text-indent: -10000px;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    background-color: var(--const-base-bg);
    border-radius: 9999px;
    border: #151515;
  &::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 12px;
    right: 0;
    bottom: 0;
    left: 12px;
    width: 10px;
    height: 2px;
    background: var(--const-main-white);
    transform: rotate(45deg);
    transition: all .3s;
  }
  &::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -4px;
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    border: 2px solid var(--const-main-white);
    transition: all .3s;
  }
}
