.search-page-browse--container {
    grid-template-rows: 40px auto;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.search-page-browse--header {
    font-size: 24px;
}

.search-page-browse--genre-container {
    grid-template-columns: repeat(auto-fit, 190px);
    gap: 24px;
}

.browse--genre-item {
    min-height: 190px;
    border-radius: 8px;
    cursor: pointer;
}

.browse--genre-item-header {
    font-size: 24px;
    padding: 16px 20px;
}