.search-page-browse--container {
    grid-template-rows: 40px auto;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}

.search-page-browse--header {
    font-size: 24px;
}

.search-page-browse--genre-container {
    grid-template-columns: repeat(auto-fit, minmax(170px, 200px));
    gap: 24px;
}