.main-playback--queue-container {
    grid-template-rows: 40px 1fr;
    padding: 20px 10px;
}

.main-playback--queue-header {
    font-variant-caps: all-small-caps;
    font-size: 22px;
    letter-spacing: 0.03rem;
    color: var(--const-peach);
    line-height: 0.9;
}

.main-playback--queue-list {
    grid-auto-columns: 160px;
    grid-auto-flow: column;
    gap: 20px;
    align-items: start;
    overflow: hidden;
}

.main-playback--queue-list:hover {
    overflow-x: scroll;
}

.main-playback--queue-item {
    grid-template-rows: repeat(3, auto);
    grid-template-rows: 100px auto 20px;
    border-radius: 10px;
    background-color: var(--const-card-bg);
    align-content: center;
    min-height: 160px;
    padding: 16px;
    transition: 0.3s;
}

.main-playback--queue-item:hover {
    background-color: var(--const-card-hover);
    cursor: pointer;
}

.main-playback--queue-item img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    justify-self: center;
}

.main-playback--queue-track {
    font-size: 16px;
    font-weight: bold;
    color: var(--const-main-white);
    margin-top: 8px;
}

.main-playback--queue-artist {
    font-size: 14px;
    color:  var(--const-lighter-gray);
}

.main-playback--queue-artist:hover {
    color: var(--const-main-white);
    text-decoration: underline 1px;
}