.artist-page--container {
    grid-area: Main;
    grid-template-rows: 350px 1fr;
    padding: 0 0 150px;
    opacity: 0;
    animation: 0.3s ease 0.8s forwards fade-in;
    border-radius: 10px;
}

.artist-page--sub-container {
    grid-template-rows: 130px 1fr 400px repeat(2, 300px);
    height: 100vh;
}
