/* SIMILAR ARTISTS SINGLE ARTIST */
.artist--similar-artists-single-artist {
    grid-template-rows: 170px 25px 40px;
    padding: 16px;
    background-color: var(--const-card-bg);
    border-radius: 8px;
    transition: 0.3s;
}

.artist--similar-artists-single-artist:hover {
    background-color: var(--const-card-hover);
    cursor: pointer;
}

.artist--similar-artists-single-artist:hover .artist--similar-artists-play {
    opacity: 1;
}

/* SIMILAR ARTISTS IMG */
.artist--similar-artists-img-outer-container {
    object-fit: cover;
    justify-self: center;
    align-self: start;
}

.artist--similar-artists-img {
    border-radius: 9999px;
    height: 160px;
    min-width: 160px;
}

.artist--similar-artists-play {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    opacity: 0;
}

.artist--similar-artists-type {
    font-size: 15px;
    color:  var(--const-gray);
    text-transform: capitalize;
}
