.artist-page--discography {
    grid-template-rows: 24px 40px 270px;
    gap: 20px;
    padding: 0 25px;
    justify-content: start;
    align-items: center;
}

.artist--discography-header {
    font-size: 24px;
}

.artist--discography-header:hover {
    text-decoration: underline 2px;
    text-underline-offset: 2px;
    cursor: pointer;
}

/* DISCOGRAPHY FILTER */
.artist--discography-filter {
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

.active-artist--discography-filter {
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.inactive-artist--discography-filter {
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: var(--disco-filter);
    transition: 0.3s;
}

.inactive-artist--discography-filter:hover {
    cursor: pointer;
    background-color: var(--album-track-hover);
}

/* DISCOGRAPHY ITEM LIST */
.artist--discography-item-list {
    grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
    gap: 24px;
    overflow-y: hidden;
}
.artist--discography-single-item {
    grid-template-rows: 180px 25px 1fr;
    padding: 16px;
    background-color: var(--const-card-bg);
    border-radius: 8px;
    transition: 0.3s;
}