.welcome-page--container {
    grid-area: Main;
    justify-items: center;
    align-items: center;
    background-color: var(--almost-black);
    min-height: calc(100vh - 100px);
}

.welcome-page--text-container {
    gap: 20px;
    justify-items: center;
    height: fit-content;
    text-align: center;
    font-variant-caps: all-small-caps;
}

.welcome-page--header {
    font-size: 66px;
}

.welcome-page--text {
    font-size: 36px;
}

.welcome-page--logged-out-text {
    font-size: 26px;
    color: var(--const-red);
    line-height: 2;
}

.welcome-page--login-link {
    color: var(--const-green);
    font-weight: bold;
}

.welcome-page--login-link:hover {
    color: var(--const-green-hover);
    text-decoration: underline;
    text-underline-offset: 0.2em;
}