.container {
    grid-template-areas: 
        "Header Header"
        "Navigation Main"
        "Footer Footer";
    grid-template-rows: 100px 1fr 160px;
    grid-template-columns: 150px 1fr;
    height: 100%;
}

.grid {
    display: grid;
}